.aboutContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.aboutInnerContainer {
  height: 60vh;
  width: 100%;
  max-width: 1200px;
  border: 1px solid rgba(146, 141, 141, 0.486);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
}
.aboutImageContainer {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(146, 141, 141, 0.486);
  flex: 1;
  border-radius: 12px;
  background: #161b22;
}

.aboutImageContainer img {
  height: 100%;
}

/* Description container */
.aboutDescContainer {
  flex: 2;
  height: 100%;
  border: 1px solid rgba(146, 141, 141, 0.486);
  border-radius: 12px;
  background: #161b22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

/* About heading */
.aboutHeading {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* About description */
.aboutDesc {
  font-size: 1.3rem;
  color: white;
  text-align: center;
  max-width: 80%;
  margin-bottom: 2rem;
  line-height: 1.5;
}

/* Button styles */
.cta {
  cursor: pointer;
  position: relative;
  padding: 12px 12px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f79a24;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}


.cta span {
  position: relative;
  /* font-family: "Ubuntu", sans-serif; */
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}


.cta:hover:before {
  width: 100%;
  background: #f79a24;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}




/* Mobile Styles */
@media (max-width: 950px) {
  .aboutInnerContainer {
    flex-direction: column;
    height: 100%;
  }
  .aboutImageContainer {
    width: 100%;
    flex: 2;
  }
  .aboutHeading {
    font-size: 2rem;
  }
  
  .aboutDesc {
    font-size: 1.1rem;
    max-width: 90%;
  }
}

/* Tablet Styles */
@media (max-width: 768px) {
  .aboutHeading {
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .aboutDesc {
    font-size: 1rem;
    max-width: 95%;
  }
  
  .cta span {
    font-size: 16px;
  }
  
  .cta svg {
    width: 12px;
    height: 8px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {

  .abutContainer {
    padding: 1rem;
    height: 80vh;
  }

  .aboutHeading {
    font-size: 1.6rem;
  }
  
  .aboutDesc {
    font-size: 0.9rem;
  }
  
  .cta {
    padding: 10px 14px;
  }
  
  .cta span {
    font-size: 14px;
  }
  
  .cta svg {
    width: 10px;
    height: 6px;
  }
}
