.projectsContainer {
  width: 100%;
  height: min-content;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsInnerConatiner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(146, 141, 141, 0.486);
  overflow: hidden;
  margin: 0 auto;
}

.projectsHeadingContainer {
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(146, 141, 141, 0.486);
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background: #161b22;
}

.projectsItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;

}

.testimonialsConatiner {
  width: 100%;
  color: white;
  
}

.testimonials {
  text-align: center;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.projectsImage {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
transition: all .3s;
border-radius: 12px;

}
.projectsImage img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.projectsDesc {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.projectName {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projectDesc {
  font-size: 1.1rem;
  color: #c1c1c1;
  margin-bottom: 2rem;
}

.btnsConatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.3rem 0 1.5rem 0;
}

.about_button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #f79a24;
  color: #f79a24;
  font-family: inherit;
  padding: 0.7em 2em;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
}

.about_button:hover {
  color: #fff;
}

.about_button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #f79a24;
  height: 200%;
  width: 200%;
  top: 100%;
  left: 100%;
  transition: all 0.4s;
  border-radius: 50%;
}

.about_button:hover:before {
  top: -25%;
  left: -25%;
}

.cta {
  cursor: pointer;
  position: relative;
  padding: 12px 12px;
  transition: all 0.2s ease;
  border: none;
  background: none;

}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f79a24;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}


.cta span {
  position: relative;
  /* font-family: "Ubuntu", sans-serif; */
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}


.cta:hover:before {
  width: 100%;
  background: #f79a24;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}



/* Tablet Styles */
@media screen and (max-width: 1024px) {
  .testimonials {
    flex-direction: column-reverse;
  }

  .projectsImage {
    width: 100%;
    margin-bottom: 1rem;
  }

  .projectsDesc {
    align-items: center;
    text-align: center;
  }

  .projectName {
    font-size: 1.6rem;
  }

  .projectDesc {
    font-size: 1rem;
  }

  .projectsContainer {
    margin: 4rem 0;
  }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .projectsContainer {
    padding: 0 1rem;
  }
  .projectsItemContainer {
  
    padding: 1rem 7px;
  
  }
  .projectsHeadingContainer {
    font-size: 1.5rem;
  }

  .testimonials {
    flex-direction: column-reverse;
  }

  .projectsDesc {
    text-align: center;
    align-items: center;
  }

  .projectName {
    font-size: 1.4rem;
  }

  .projectDesc {
    /* font-size: 0.95rem; */
    display: none;
  }

  .about_button {
    font-size: 0.9rem;
  }

  .cta span {
    font-size: 0.9rem;
  }

  .projectsImage {
    width: 100%;
  }
}
